.btn-schedule {
	text-align: center;
	display: flex;
	align-content: center;
	background: linear-gradient(135deg, #457b9d, #2c3e50);
	background-color: var(--cor-secundaria-azul-escuro);
	height: 2rem;
	color: #f1faee;
	border: none;
	border-radius: 9999px;
	padding: 1rem 2rem;
	font-size: 1rem;
	cursor: pointer;
	box-shadow: 0 6px 10px rgba(0, 0, 0, 0.25);
	transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
	text-decoration: none;
	display: inline-block;
}

.btn-schedule:hover {
	transform: translateY(-3px);
	box-shadow: 0px 0.625rem 0.625rem 0px rgba(0, 0, 0, 0.25);
	background: linear-gradient(135deg, #3a6f8a, #243447);
}

.btn-schedule strong {
	font-size: 1rem;
}

.btn-schedule i {
	font-size: 1.5rem;
}
