.carousel-container {
    width: 100%;
    max-width: 50rem;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel img {
    width: 100%;
    border-radius: 10px;
}

.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}

.buttons button {
    background: rgba(154, 216, 255, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 18px;
}

#next {
    border-radius: .5rem 0rem 0rem .5rem;
}

#prev {
    border-radius: 0rem .5rem .5rem 0rem;
}
