
body {
	background-color: var(--cor-fundo-branco);
	color: #fff;
	width: 100vw;
	height: 100vh;
   
}

body h1 {
	font-size: 32px;
}

/* layouts */
@import url('./layouts/header.css');
@import url('./layouts/sidebar.css');
@import url('./layouts/hero.css');
@import url('./layouts/services.css');
@import url('./layouts/about.css');
@import url('./layouts/team.css');
@import url('./layouts/room.css');



/* components */
@import url('./components/btn-schedule.css');
@import url('./components/service-card.css');
@import url('./components/perfil-card.css')







