#about {
    color: var(--cor-secundaria-azul-escuro);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    text-align: left;
    background-color: #F9F6FE;
    width: auto;
}

.about-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1rem;
}

.about-img img {
    max-width: 25rem;
    width: 100%;
}

.internal-about-text {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;

}

#about h2 {
    margin-top: .5rem;
    font-size: 2rem;
}

#about p {
    margin-top: 1rem;
}