#contact {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-secundaria-azul-escuro);
    height: 60rem;
    position: relative;
}

.logo-footer {
    width: 100%;
}

.footer-links {

}

.footer-links a {
    color: var(--cor-fundo-branco);
}

.wave-footer {
    display: flex;
    width: 100%;
}

.wave-footer img {
    width: 100%;
}

.bottom-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 64px;
    font-size: 0.6rem;
    row-gap: 8px;
    background-color:#09182D ;
    color: var(--cor-fundo-branco);
}