.header {
	display: flex;
	min-width: 260px;
	height: 16rem;
	background-image: linear-gradient(
			to bottom,
			rgba(175, 206, 227, 0.5),
			rgba(0, 0, 0, 0)
		),
		url("/src/assets/img/header-img1.png");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.logo-header-link {
	display: flex;
	align-items: center;
	height: 100%;
}

#logo-header {
	width: 9.8rem;
	height: 2.68rem;
}

.navbar {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	top: 0%;
	z-index: 2;
	background: transparent;
	backdrop-filter: blur(10px);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	border-bottom-left-radius: 1.5rem;
}

.menu-toggle {
	color: var(--cor-secundaria-azul-escuro);
	font-size: 1.5rem;
	width: 1.5rem;
	height: 1.5rem;
	padding: 1rem;
	cursor: pointer;
}

.menu-toggle:hover,
.menu-toggle:active {
	color: #f9f6fe;
	-webkit-text-stroke: 0.5px #000;
}

.desktop-menu {
	user-select: none;
	font-size: 1.1rem;
	height: 100%;
	align-items: center;
	display: flex;
	gap: 2rem;
	flex-grow: 1;
	justify-content: center;
	align-content: center;
	display: none;
}

.desktop-menu li {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 8rem;
	border-radius: 50px;
}

.desktop-menu a {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
	text-align: center;
	color: var(--cor-secundaria-azul-escuro);
	text-decoration: none;
	border-radius: 0.75rem;
	transition: transform 0.3s ease-in-out;
}

.desktop-menu a:hover {
	background-color: rgba(249, 246, 254, 0.5);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	animation: hoverEffect 0.3s forwards;
}


.wave-div {
    display: flex;
    display: flex;
    z-index: 1;
    justify-content: last baseline;
    align-items: end;
    width: 100%; 
    align-self: flex-end;
   
}

.wave-div img {
    width: 100%;
	max-height: 10rem;
}