#room {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	gap: 2rem;
	color: var(--cor-secundaria-azul-escuro);
	background-color: var(--cor-primaria-azul);
}

#room h2 {
	font-size: 2rem;
	align-self: flex-start;
}

.internal-room-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	row-gap: 1rem;
	height: 15%;
	padding: 1rem 1rem 0rem 1rem;
}

.cta-container {
	display: flex;
	justify-content: center;
	background-color: var(--cor-fundo-branco);
	width: 100%;
	padding: 4rem 0rem;
}

.cta-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 3rem;
	margin: 1rem 0rem;
	border-radius: 2rem;
	width: 80%;
	height: 24rem;
	background: rgb(175, 206, 227);
	background: linear-gradient(
		180deg,
		rgba(175, 206, 227, 0.9976365546218487) 80%,
		rgba(175, 206, 227, 0.4990371148459384) 100%
	);
	padding: 1rem;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.cta-text {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	text-align: center;
}

.cta-text h3 {
	/* padding-bottom: 2rem; */
	font-size: 1.85rem;
	text-align: center;
}

.cta-text p {
	text-align: start;
	font-size: 1.25rem;
	padding: 0rem 1rem;
}

.cta-btn strong {
	font-size: 1.1rem;
}

.room-location-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 100%;
	height: auto;
}

.room-location-container iframe {
	width: 100%;
	height: 25rem;
	max-width: 100%;
	border: 0;
}

@media (max-width: 768px) {
	
}

