.mobile-sidebar {
	position: fixed;
	inset: 0;
	max-width: none; 
	min-width: unset;
	width: 100vw;
	height: 100vh;
	z-index: 10;
	background: linear-gradient(
	  180deg,
	  rgba(175, 206, 227, 1) 80%,
	  rgba(254, 254, 254, 1) 100%
	);
  
	transform: translateX(200%);
	transition: transform 0.3s ease-in-out;
}

.mobile-sidebar.open {
	transform: translateX(0);
  }


.mobile-links {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 4rem;
	row-gap: 10%;
}

.mobile-links a {
	user-select: none;
	font-size: 1.25rem;
	text-decoration: none;
	color: var(--cor-secundaria-azul-escuro);
}

.mobile-links a:visited {
	color: var(--cor-secundaria-azul-escuro);
}

.mobile-links a:active {
	color: var(--cor-fundo-branco);
}

.mobile-links a:hover {
	color: var(--cor-fundo-branco);
}

#close-icon-div {
	display: flex;
	justify-content: flex-end;
	font-size: 1.5rem;
	color: var(--cor-fundo-branco);
}

#close-icon-div i {
	font-size: 2rem;
	padding: 1rem 2rem;	
	cursor: pointer;
}

#close-icon-div i:hover, #close-icon-div i:active {
	color: var(--cor-secundaria-azul-escuro);
}
