.mobile-sidebar {
	min-width: 300px;
	position: fixed;
	right: 0%;
	top: 0%;
	z-index: 10;
	background-color: var(--cor-primaria-azul);
	width: 100%;
	height: 100vh;
	overflow-y: visible;
	padding-top: 32px;
	background: rgb(175, 206, 227);
	background: linear-gradient(
		180deg,
		rgba(175, 206, 227, 1) 60%,
		rgba(254, 254, 254, 1) 100%
	);
	display: none;
}


.mobile-links {
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: baseline;
    padding-top: 20%;
	row-gap: 10%;
}

.mobile-links a {
	font-size: 1.25rem;
	text-decoration: none;
	color: var(--cor-fundo-branco);
}

.mobile-links a:visited {
	color: var(--cor-fundo-branco);
}

.mobile-links a:active {
	color: var(--cor-secundaria-azul-escuro);
}

#close-icon-div {
	display: flex;
	justify-content: flex-end;
	
	/* align-items: last baseline; */
	font-size: 1.5rem;

	
	/* height: 5rem; */
	color: var(--cor-fundo-branco);
}

#close-icon-div i {
	font-size: 2rem;
	padding: 1rem 2rem;	
	cursor: pointer;
}
