#team {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #F9F6FE;
    color: var(--cor-secundaria-azul-escuro);
    gap: 1rem;
    padding: 1rem 0rem;
}

#team h2 {
    font-size: 2rem;

}

.perfil-psicologo {
    background-color: #09182D;
    color: #F9F9F4
}

.perfil-psicologo img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    max-height: 32rem;
}

.perfil-psicologo aside {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 1rem;
}

.perfil-psicologo aside h2 {
    margin-bottom: 1rem;
}

.perfil-psicologo a {
    height: 2.5rem;
    width: 50%;
    align-self: center;
}

/* .perfil-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
} */