@media screen and (min-width: 64rem) {

     /* animações navbar */
     @keyframes hoverEffect {
        0% { transform: scale(1); }
        100% { transform: scale(1.1); }
    }

    .navbar {
        padding: 1rem;
        display: flex;
        align-items: center;
        height: 3rem;
    }

    .logo-header-link {
        height: 100%;
    }

    .menu-toggle {
        display: none;
    }

   .header {
    height: 30rem;
   }

   .wave-div {
    height: 30rem;
   }

    #hero-section {
        padding: 1rem 0rem;
    }

    #hero-section h1 {
        font-size: 2rem;
    }

    .hero-text {
        width: 70%;
    }

    .internal-hero-container {
        gap: 1rem;
    }

    .internal-about-text aside, .internal-room-text, .hero-text p {
        font-size: 1.3rem;
    }

    .hero-btn {
        font-size: 1.5rem;
        height: 5rem;
        width: 15rem;
    }

    

    #services, #about,#room{
        scroll-margin-top: 5rem;
        scroll-behavior: smooth;
    }

   .desktop-menu {
    display: flex;
   }

    /* services */
    .internal-card-text h3{
		font-size: 1.5rem;
	}

	.internal-card-text p {
		font-size: 1.1rem;
	}

    .cards {
        gap: 2rem;
    }

    #about {
        padding: 2rem 2rem;
        gap: 2rem;
    }

    .internal-about-text {
        padding: 0rem;
    }

    /* about */
    .about-img {
        display: flex;
        justify-content: center;
    }

    .about-img img {
        border-radius: 1rem;
        width: 70%;
        max-height: 40rem;
        box-shadow: .25rem .75rem .75rem 0px rgba(0, 0, 0, 0.25);
    }

    /* team */

    #team {
        gap: 2rem;
        padding: 4rem 0rem;
    }
    .perfil-cards-container {
        gap: 0;
        justify-content: space-evenly;
    }

    .perfil-card {
        width: 20rem;
        align-items: center;
        /* height: 30rem; */
        object-fit: cover;
        height: 35rem;
    }

    .perfil-img {
        object-fit: cover;
        width: 100%;
    }

    /* room */
    #room {
        padding: 2rem 0rem;
    }

    .internal-room-text {
        padding: 2rem;
    }


    /* call to action  */
    .cta-card {
        gap: 5rem;
    }

    .cta-text h3 {
        font-size: 2.5rem;
    }

    .cta-text p {
        align-self: center;
        width: 75%;
    }

    .cta-btn {
		font-size: 1.5rem;
        height: 4rem;
        width: 16rem;
	}


    /* footer */
    #contact {
    }

    .contacts-address {
        display: flex;
        padding: 2rem;
    }

    .room-location-container {
        order: 2;
        width: 50%;
        border-radius: 1rem;
    }

    .room-location-container iframe {
        border-radius: 1rem;
    }

    .footer-text-container {
        gap: 1rem;
        width: 50%;
    }

    .logo-footer {
        width: 15rem;
    }

}