@media screen and (min-width: 48rem) and (max-width: 64rem) {
	/* hero  */
	.cta-card-hero {
		gap: 2rem;
	}

	.hero-btn {
		width: 10rem;
	}

	/* services  */
	.cards {
		gap: 2rem;
	}

	/* about s */
	.internal-about-text {
		padding: 2rem 1rem;
	}

	/* team  */
	#team {
		padding: 2rem 0rem;
	}

	.perfil-cards-container {
		justify-content: space-evenly;
	}

	/* cta  */
	.cta-text h3 {
		font-size: 2rem;
	}
	.cta-btn {
		font-size: 1.5rem;
		height: 4rem;
		width: 16rem;
	}

	.footer-links a:hover {
		color: var(--cor-secundaria-azul-escuro);
	}

	.att {
		margin: 0rem 2rem;
		grid-template-areas:
			"icon title"
			"icon p1"
			"icon p2";
		grid-template-columns: 1fr 11fr;
		grid-template-rows: 2rem;
		place-content: center;
	}

	.att h3 {
		font-size: 1rem;
		grid-area: title;
	}

	.att i {
		align-self: flex-end;
		justify-self: center;
		color: #4a4a4a;
		font-size: 4rem;
		grid-area: icon;
	}

	.p1 {
		grid-area: p1;
	}
	.p2 {
		grid-area: p2;
	}
}
